<ion-view title="Buscar">
  <ion-nav-buttons side="right">
    <a class="tab-item">
      <i class="icon ion-gear-a" ng-click="openSearchModal()"></i>
    </a>
  </ion-nav-buttons> 
  <ion-content padding="false" scroll="false" data-tap-disabled="true">
    <map id="map-canvas" coords="currentPosition" markers="markers"></map>
  </ion-content>
</ion-view>
<!-- <form>
  <div class="bar bar-header bar-stable item-input-inset">
    <label class="item-input-wrapper" style="background: #E8E8E8">
      <i class="icon ion-ios7-search placeholder-icon"></i>
      <input type="search" placeholder="Search or enter an address" ng-model="search_form.location.address">
    </label>
    <button class="button button-clear bar-stable button-calm" type="submit">
      Search
    </button>
  </div>
</form> -->